// HTML
 	
h1 	
	font-family        	: $type-head
	color              	: $MDS-teal
	font-size 			: $t1
	font-weight        	: 100

h2 	
	font-family        	: $type-head
	color              	: $MDS-green
	font-size 			: $t2

h3	
	font-family        	: $type-head
	color              	: $MDS-teal
	font-size 			: $t3

h4	
	font-family        	: $type-head
	color              	: $MDS-teal
	font-size 			: $t4
 	
p 	
	font-family        	: $type
	color              	: $g1
	font-size 			: $t5

a
	color 				: $MDS-teal
	&:hover
		color 			: $MDS-purp

blockquote
	border-left 							: 5px solid $g1